* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(227, 104, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    color: white;
}
.container img{
    margin-top: 30px;
}
.container h1{
    margin: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    color: white;
    background-color: rgb(255, 157, 0);
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}